
body{
    background-color: #134552c5;
}



  .myform{
    position: relative;
    display: -ms-flexbox;
    display: flex;
    padding: 1rem;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 15px;
    outline: 0;
    max-width: 500px;
    margin-top: 150px;

     }
     .tx-tfm{
     text-transform:uppercase;
     }

     .mybtn{
     border-radius:5px;
     }
    
     .login-or {
     position: relative;
     color: #aaa;
     margin-top: 10px;
     margin-bottom: 10px;
     padding-top: 10px;
     padding-bottom: 10px;
     }

     .span-or {
     display: block;
     position: absolute;
     left: 50%;
     top: -2px;
     margin-left: -25px;
     background-color: #fff;
     width: 50px;
     text-align: center;
     }

     .hr-or {
     height: 1px;
     margin-top: 0px !important;
     margin-bottom: 0px !important;
     }

     .google {
     color:#666;
     width:100%;
     height:40px;
     text-align:center;
     outline:none;
     border: 1px solid lightgrey;
     }

      form .error {
     color: rgb(236, 20, 20);
     }

     .login-explain{
        color: #fff;
        display: block;
        text-align: center;
        margin: 35px;
        font-size: 25px;
     }

     #second{display:none;}

        .logo-img{
        width: 100%;
        max-width: 350px;
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
     }

     img {
      max-width: 100%;
      height: auto;
    }

      /* .logo{
        background-image: url("/images/dark_logo_transparent_background.png");
        width: 10px;
        height: 10px;
    } */




